:root {
  --gap: 8px;
}

@media (min-width: 768px) {
  :root {
    --gap: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  padding-bottom: 1px;
}
a:hover,
a:focus {
  padding-bottom: 0;
  border-bottom: solid 1px;
}
a + a {
  margin-left: 4px;
}

img {
  width: 100%;
  display: block;
}

button:not(:disabled) {
  cursor: pointer;
}
